<h1>Videos#index</h1>
<p>Find me in app/views/videos/index.html.erb</p>
<% if flash[:message] %>
	<p><%= flash[:message] %></p>
<% end %>
<%= render 'shared/login', :@user => User.new  %>
<%= link_to 'Log out', session_path(current_user), method: "delete" %>
<%= render 'shared/videos' %>