<div id="locate_all_input">
	<h3><label for="locate_all_address">Locate videos in your area</label></h3>
	<input type="text" id="locate_all_address" title="Pick your area through dropdown."> 
</div>
<div id="map_all" class="locate_all_gmap3">
	<!-- input map will be shown here -->
</div>