<% provide(:title, "Welcome to ViDence") %>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>Welcome to the MVC advnaced assignment in Rails</h1>
		<p>We're going to build a cool application using a MVC framework! This application was build with the Coding Dojo folks!</p>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<h4>Manage Users</h4>
		<p>Using this application, you'll learn how to add, remove, and edit users for the application</p>
	</div>
	<div class="col-md-4">
		<h4>Leave messages</h4>
		<p>Users will be able to leave a message to another user using this application.</p>
	</div>
	<div class="col-md-4">
		<h4>Edit User Information</h4>
		<p>Admins will be able to edit another user's information (email address, first name, etc).</p>
	</div>
</div>
<!-- parralex style landing page to spark interest -->
<section id="welcome_home" data-type="background" data-speed="10">
	<article>I am absolute positioned</article>
</section>
<section id="welcome_why" data-type="background" data-speed="10">
	<article>Simple Parallax Scroll</article>
</section>



