<%= simple_form_for @user , html: {id: 'login' }, url: sessions_path, role:"form" do |f| %>

	<div class="form-group">
		<%= f.input :username, input_html:{class:'form-control'} %>
	</div>
	
	<div class="form-group">
		<%= f.input :password, input_html:{class:'form-control'} %>
	</div>
	<br>
	<%= f.button :submit, class:'btn-primary', value: 'Log In' %>
<% end %>
