/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
	background-color: #FFFFFF
}
.navbar{
	border-bottom: 1px #515151;
	background-color: #515151;
	opacity: 0.97;
}
nav h4{
	color:#e5e5ed;
	font-size: 14px;
}
nav h4 strong a{
	color:#00B4FF; 
	font-size: 20px;
}
nav h4 strong a:hover{
	color:#84DCFF;
	text-decoration: none;
}
.brand{
	font-weight:bold;
	color:#00B4FF;
}

