.thead{
	color:#EEEEEE;
}
.request_info{
		top:30px;
		margin: 10px 0px 10px 20px;
		width:500px;
		height: auto;
		border-radius: 5px;
		background-color: #FFFFFF;
		box-shadow: 0 0 30px lightgrey;	
}