video {
	width: 100% !important;
	height: auto !important;
}

.container{
	/*border: 1px solid black;*/
}
#title{
	margin-left:10px;
}
#add_vid{
	margin: 7px 2px 0px 0px;
	font-weight: bold;
}
nav p{
	margin: 15px 10px;
}
#top_space{
	height:50px;
}
.green_message{
	color: green;
}
.index_username{
	margin-right: 15px;
	font-weight: bold;
}
.info_bar{
	float:right;
}

 .vid_map{
      	width:100%;
      	height:200px;
      }

.videowrapper{
	height:0;
	position:relative;
	padding-top: 25px;
	padding-bottom: 56.25%;
}
	.videowrapper iframe{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
.video_index_comment{
	font-weight: bold;
}
.video_index_description{
	color:grey;
	display:none;
	clear:both;
}
.footage_loc{
	float:right;
}
.video_list{
	background-color: #EEEEEE;
	box-shadow: 0 0 30px black;
}
.comment{
	border-top: 1px solid lightgrey;
}
.sign_in_comment{
	float:right;
}
.glyphicon-film{
	color: lightgrey;
}
.side_bar_request{
	border: 1px solid black;
/*	height:800px;
	width: 200px;*/
}
.test{
	border: 1px solid black;
}
#menu{
	color:lightgrey;
	padding:5px 10px 5px 10px;
	margin-right: 3px;

}
.not_signed_in_register{

}


/*   This Section is for Welcome Page */
#cover{
	background: url(welcome/Cover.png) repeat;
	background-size: 110%;
	height:250px;
}
	#cover_title{
		font-weight: bold;
		margin-top: 50px;
		color: lightgrey;
		text-shadow: 3px 2px 2px #515151;
	}
	#cover_subtitle{
		color: #EEEEEE;
		text-shadow: 3px 2px 2px #515151;
	}
	#cover_button{
		font-size:22px;
		margin-top: 10px;
		padding: 5px 10px 5px 10px;
		color: #EEEEEE;
	}
	#cover_summary{
		margin-top:50px;
	}
#welcome_arrow{
	margin-bottom: 150px;
	height:50px;
	width:100px;

}
.parralex_space{
	text-align: center;
	margin-top: 150px;
	height:300px;
}
#welcome_home{
	top:15px;
	background: url(welcome/taxi.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	height:800px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position:relative;
}
	#welcome_home article{
		font-size:50px;
		color: lightgrey;
		height: 458px;
		position: absolute;
		text-align:center;
		top:50px;
		width:100%;	
	}
#welcome_why{
	background: url(welcome/101.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	height:1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}
	#welcome_why article{
		font-size: 50px;
		color: lightgrey;
		height: 458px; 
		position: absolute; 
		text-align: center; 
		top: 150px; 
		width: 100%; 
	}